Repository elastic/ml-cpp, pull requests merged in 2022-07, with the labels that each got.

#2341 [ML] Fix and simplify the way the version file is created
  dev-tools/docker/docker_entrypoint.sh
  include/core/CStringUtils.h
  lib/ver/CBuildInfo.cc
  lib/ver/CMakeLists.txt
  set_env.bat
Labels: >build, >non-issue, :ml, v8.4.0

#2343 [ML] Minor tidyups to the CMake build
  3rd_party/3rd_party.cmake
  bin/controller/unittest/CBlockingCallCancellingStreamMonitorTest.cc
  include/ver/CBuildInfo.h
  lib/core/unittest/CBlockingCallCancellingTimerTest.cc
  lib/maths/common/unittest/CKMostCorrelatedTest.cc
  lib/seccomp/unittest/CSystemCallFilterTest.cc
  lib/ver/CMakeLists.txt
  mk/make_info_plist.sh
  set_env.bat
  set_env.sh
Labels: >build, >non-issue, :ml, v8.4.0

#2345 [ML] Fix ML_DEBUG=1 behaviour
  build.gradle
  cmake/compiler/clang.cmake
  cmake/compiler/gcc.cmake
  cmake/compiler/msvc.cmake
  cmake/functions.cmake
  cmake/variables.cmake
  dev-tools/docker/docker_entrypoint.sh
  dev-tools/jenkins_ci.sh
Labels: review, >build, >non-issue, :ml, v8.4.0

#2305 [ML] Cache for PyTorch inference results
  bin/pytorch_inference/CCmdLineParser.cc
  bin/pytorch_inference/CCmdLineParser.h
  bin/pytorch_inference/CCommandParser.cc
  bin/pytorch_inference/CCommandParser.h
  bin/pytorch_inference/Main.cc
  bin/pytorch_inference/unittest/CCommandParserTest.cc
  docs/CHANGELOG.asciidoc
  include/core/CCompressedDictionary.h
  include/core/CCompressedLfuCache.h
  include/core/CJsonOutputStreamWrapper.h
  include/core/CMemory.h
  include/core/CPersistUtils.h
  include/core/CRapidJsonConcurrentLineWriter.h
  include/core/CRapidJsonLineWriter.h
  include/core/CRapidJsonUnbufferedIStreamWrapper.h
  include/core/RestoreMacros.h
  lib/core/CJsonOutputStreamWrapper.cc
  lib/core/unittest/CCompressedDictionaryTest.cc
  lib/core/unittest/CCompressedLfuCacheTest.cc
  lib/core/unittest/CMakeLists.txt
Labels: >enhancement, 3rd party models, v8.4.0

#2351 [ML] Platform independent dependency report script
  3rd_party/dependency_report.cmake
  build.gradle
Labels: review, >build, >non-issue, :ml, v8.4.0

#2353 [ML] Revert to using dependency_report.sh on Mac/Linux
  build.gradle
Labels: review, >build, >non-issue, :ml, v8.4.0

#2348 [ML] Clean up CI test reports
  lib/api/unittest/CSerializableToJsonTest.cc
  lib/core/unittest/CLoggerTest.cc
  lib/maths/analytics/unittest/CBoostedTreeTest.cc
  lib/maths/analytics/unittest/Main.cc
  lib/maths/common/unittest/Main.cc
  lib/maths/time_series/unittest/CSignalTest.cc
  lib/maths/time_series/unittest/Main.cc
Labels: :ml, >test, v8.4.0, v8.3.3, v7.17.6

#2359 [7.17] [ML] Clean up CI test reports
  lib/core/unittest/CLoggerTest.cc
  lib/maths/analytics/unittest/CBoostedTreeTest.cc
  lib/maths/analytics/unittest/Main.cc
  lib/maths/common/unittest/Main.cc
  lib/maths/time_series/unittest/CSignalTest.cc
  lib/maths/time_series/unittest/Main.cc
Labels: >test, backport, v7.17.6

#2358 [8.3] [ML] Clean up CI test reports
  lib/core/unittest/CLoggerTest.cc
  lib/maths/analytics/unittest/CBoostedTreeTest.cc
  lib/maths/analytics/unittest/Main.cc
  lib/maths/common/unittest/Main.cc
  lib/maths/time_series/unittest/CSignalTest.cc
  lib/maths/time_series/unittest/Main.cc
Labels: >test, backport, v8.3.3

#2355 [ML] Default build configuation to RelWithDebInfo
  CONTRIBUTING.md
  README.md
  build-setup/clion/default_project_config_options.png
  build-setup/clion/open_project.png
  build-setup/clion/run_debug_configurations.png
  build-setup/clion/run_single_test.png
  build-setup/clion/unix_makefiles_config.png
  build-setup/clion/using_clion.md
  build-setup/vscode/using_vscode.md
  build.gradle
  cmake/compiler/clang.cmake
  cmake/compiler/gcc.cmake
  cmake/compiler/msvc.cmake
  cmake/functions.cmake
  cmake/variables.cmake
  jupyter/docker/Dockerfile
Labels: review, >build, >non-issue, :ml, v8.4.0

#2352 [ML] Use ccache if it is found on the system
  CMakeLists.txt
Labels: review, >build, >non-issue, :ml, v8.4.0

#2361 [ML] Guide to debugging with Visual Studio Code
  build-setup/vscode/cmake_config.png
  build-setup/vscode/debug_test_case.png
  build-setup/vscode/using_vscode.md
Labels: review, >build, >non-issue, :ml, v8.4.0

#2360 [ML] Add an assertion to CCompressedLfuCacheTest
  lib/core/unittest/CCompressedLfuCacheTest.cc
Labels: :ml, >test, v8.4.0

#2349 [ML] Further improvements to early stopping for training regression and classification models
  include/maths/analytics/CBoostedTreeImpl.h
  lib/maths/analytics/CBoostedTreeHyperparameters.cc
  lib/maths/analytics/CBoostedTreeImpl.cc
  lib/maths/analytics/unittest/CBoostedTreeTest.cc
  lib/maths/common/CBayesianOptimisation.cc
Labels: >enhancement, >non-issue, :ml/DataFrameAnalysis, v8.4.0

#2365 [ML] Size pytorch_inference thread pool properly
  bin/pytorch_inference/Main.cc
  include/core/Concurrency.h
Labels: >non-issue, 3rd party models, v8.4.0

#2368 [ML] Log the number of allocations changed when dynamically updated
  bin/pytorch_inference/Main.cc
Labels: >non-issue, v8.4.0

#2366 [ML] Update NumPy version for docker image
  jupyter/docker/Dockerfile
  jupyter/docker/linux_image/Dockerfile
  jupyter/requirements.txt
Labels: >non-issue, :ml/DataFrameAnalysis, v8.4.0

#2369 [ML] Adjust PyTorch thread setting naming and validation
  bin/pytorch_inference/CThreadSettings.cc
  bin/pytorch_inference/CThreadSettings.h
  bin/pytorch_inference/Main.cc
  bin/pytorch_inference/unittest/CThreadSettingsTest.cc
Labels: >non-issue, :ml, 3rd party models, v8.4.0

#2371 [ML] Handle cache size too small for single item
  include/core/CCompressedLfuCache.h
  include/core/CMemory.h
  lib/core/unittest/CCompressedLfuCacheTest.cc
Labels: >non-issue, :ml, v8.4.0

#2372 [ML] Fix debug builds
  include/core/CLoggerTrace.h
  include/core/LogMacros.h
  include/maths/common/CBasicStatistics.h
  include/maths/common/CXMeansOnline.h
  include/model/CMetricMultivariateStatistic.h
  lib/model/unittest/CSampleQueueTest.cc
Labels: :ml, >test, v8.4.0

#2367 [ML] Improve quantile estimation accuracy and median accuracy for anomaly detection
  docs/CHANGELOG.asciidoc
  include/maths/common/CQuantileSketch.h
  include/model/CGathererTools.h
  include/model/CMetricStatisticWrappers.h
  lib/api/unittest/CDataFrameAnalyzerTrainingTest.cc
  lib/maths/analytics/CBoostedTreeImpl.cc
  lib/maths/analytics/unittest/CBoostedTreeTest.cc
  lib/maths/common/CQuantileSketch.cc
  lib/maths/common/unittest/CQuantileSketchTest.cc
  lib/maths/time_series/unittest/CCalendarCyclicTestTest.cc
  lib/model/unittest/CDetectorEqualizerTest.cc
  lib/model/unittest/CMetricModelTest.cc
Labels: >enhancement, review, :ml, :ml/DataFrameAnalysis, v8.4.0, v7.17.6

#2374 [ML] Adding a cache_hit indicator to inference results
  bin/pytorch_inference/CCommandParser.cc
  bin/pytorch_inference/Main.cc
Labels: >non-issue, :ml, v8.4.0

#2375 [ML] Add a "clear cache" control message to pytorch_inference
  bin/pytorch_inference/CCommandParser.cc
  bin/pytorch_inference/CCommandParser.h
  bin/pytorch_inference/Main.cc
  bin/pytorch_inference/unittest/CCommandParserTest.cc
  include/core/CCompressedLfuCache.h
  lib/core/unittest/CCompressedLfuCacheTest.cc
Labels: >non-issue, :ml, 3rd party models, v8.5.0

#2377 [ML] Fix inefficiency in bootstrap loss calculation
  lib/maths/analytics/CBoostedTreeImpl.cc
Labels: review, >non-issue, :ml/DataFrameAnalysis, v8.4.0
