Repository elastic/ml-cpp, pull requests merged in 2023-01, with the labels that each got.

#2430 [ML] Upgrade PyTorch to version 1.13.1
  CONTRIBUTING.md
  bin/pytorch_inference/CCmdLineParser.cc
  build-setup/linux.md
  build-setup/macos.md
  build-setup/windows.md
  dev-tools/docker/build_linux_aarch64_cross_build_image.sh
  dev-tools/docker/build_linux_aarch64_native_build_image.sh
  dev-tools/docker/build_linux_build_image.sh
  dev-tools/docker/build_macosx_build_image.sh
  dev-tools/docker/linux_aarch64_cross_builder/Dockerfile
  dev-tools/docker/linux_aarch64_cross_image/Dockerfile
  dev-tools/docker/linux_aarch64_native_builder/Dockerfile
  dev-tools/docker/linux_aarch64_native_image/Dockerfile
  dev-tools/docker/linux_aarch64_native_tester/Dockerfile
  dev-tools/docker/linux_builder/Dockerfile
  dev-tools/docker/linux_image/Dockerfile
  dev-tools/docker/linux_tester/Dockerfile
  dev-tools/docker/macosx_builder/Dockerfile
  dev-tools/docker/macosx_image/Dockerfile
  dev-tools/download_macos_deps.sh
  dev-tools/download_windows_deps.ps1
  docs/CHANGELOG.asciidoc
Labels: >enhancement, :ml, 3rd party models, v8.7.0

#2431 [ML] Fix link to Python download in macOS setup instructions
  build-setup/macos.md
Labels: >non-issue, >docs, v8.7.0

#2433 [ML] Fix instructions for building PyTorch on Windows
  build-setup/windows.md
Labels: :ml, >docs, 3rd party models, v8.7.0

#2436 [ML] Perform a nightly debug build with assertions enabled
  .buildkite/job-build-test-all-debug.yml
Labels: review, >build, >non-issue, :ml, v8.7.0

#2437 Fix s3 upload script
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/upload_to_s3.sh
Labels: >build, >non-issue, :ml, v8.7.0

#2439 [ML] Correct path to AWS credentials in CI vault
  .buildkite/pipeline.yml
  dev-tools/aws_creds_from_vault.sh
  dev-tools/docker/build_linux_jdk.sh
  dev-tools/docker/ml_cpp_jdk/Dockerfile
Labels: review, >build, >non-issue, :ml, v8.7.0

#2440 [ML] Identify multimodal prior distributions for anomaly explanation
  docs/CHANGELOG.asciidoc
  include/maths/common/CModel.h
  include/maths/common/COneOfNPrior.h
  include/maths/common/CPrior.h
  lib/api/CJsonOutputWriter.cc
  lib/maths/common/COneOfNPrior.cc
  lib/maths/common/CPrior.cc
  lib/maths/common/unittest/COneOfNPriorTest.cc
  lib/maths/time_series/CTimeSeriesModel.cc
Labels: >enhancement, review, :ml, v8.7.0

#2441 [ML] Add Windows step to BuildKite pipeline
  .buildkite/hooks/post-checkout
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/build_and_test.ps1
  .buildkite/scripts/steps/build_and_test.sh
Labels: >build, >non-issue, :ml, v8.7.0
