Repository elastic/ml-cpp, pull requests merged in 2023-02, with the labels that each got.

#2446 [ML] Add email & slack notifications to BuildKite pipelines
  .buildkite/job-build-test-all-debug.json.py
  .buildkite/ml_pipeline/step.py
  .buildkite/pipeline.json.py
  .buildkite/scripts/steps/send_email_notification.sh
  .buildkite/scripts/steps/send_slack_notification.sh
Labels: review, >build, >non-issue, :ml, v8.7.0

#2447 [ML] Trigger & control builds via comments and labels
  .buildkite/job-build-test-all-debug.json.py
  .buildkite/ml_pipeline/config.py
  .buildkite/ml_pipeline/step.py
  .buildkite/pipeline.json.py
  .buildkite/pipelines/build_linux.json.py
  .buildkite/pipelines/build_macos.json.py
  .buildkite/pipelines/build_windows.json.py
  .buildkite/pipelines/send_email_notification.sh
  .buildkite/pipelines/send_slack_notification.sh
  .buildkite/pull-requests.json
  .buildkite/scripts/steps/run_es_tests.sh
Labels: review, >build, >non-issue, :ml, v8.8.0

#2450 Typo in pull-request.json
  .buildkite/pull-requests.json
Labels: review, >build, >non-issue, :ml, v8.8.0

#2442 [ML] BuildKite nightly debug builds
  .buildkite/ml_pipeline/config.py
  .buildkite/pipelines/build_linux.json.py
  .buildkite/pipelines/build_macos.json.py
  .buildkite/pipelines/build_windows.json.py
Labels: >bug, review, >build, >non-issue, :ml, v8.8.0

#2449 [ML] Anomaly score explanation for rare detector
  docs/CHANGELOG.asciidoc
  include/maths/common/CModel.h
  include/model/CAnnotatedProbability.h
  include/model/CAnnotatedProbabilityBuilder.h
  include/model/CIndividualModelDetail.h
  include/model/CModelTools.h
  include/model/CProbabilityAndInfluenceCalculator.h
  lib/api/CJsonOutputWriter.cc
  lib/api/unittest/CJsonOutputWriterTest.cc
  lib/maths/time_series/CTimeSeriesModel.cc
  lib/model/CAnnotatedProbability.cc
  lib/model/CAnnotatedProbabilityBuilder.cc
  lib/model/CEventRateModel.cc
  lib/model/CEventRatePopulationModel.cc
  lib/model/CMetricModel.cc
  lib/model/CMetricPopulationModel.cc
  lib/model/CModelTools.cc
  lib/model/CProbabilityAndInfluenceCalculator.cc
  lib/model/unittest/CAnnotatedProbabilityBuilderTest.cc
  lib/model/unittest/CEventRateModelTest.cc
Labels: >enhancement, :ml, v8.8.0

#2453 Add clangd to vs code setup instructions
  build-setup/vscode/using_vscode.md
Labels: >docs, v8.7.0, v8.8.0

#2448 Add BuildKite pipeline for DRA
  .buildkite/dra.json.py
  .buildkite/dra.yml
  .buildkite/pipeline.json.py
  .buildkite/pipelines/create_dra.yml.sh
  .buildkite/pipelines/upload_dra_to_gcs.yml.sh
  .buildkite/pipelines/upload_dra_to_s3.yml.sh
  .buildkite/scripts/common/aws_creds_from_vault.sh
  .buildkite/scripts/steps/build_and_test.ps1
  .buildkite/scripts/steps/build_and_test.sh
  .buildkite/scripts/steps/create_dra.sh
  .buildkite/scripts/steps/upload_dra_to_gcs.sh
  .buildkite/scripts/steps/upload_dra_to_s3.sh
  build.gradle
  dev-tools/docker/build_linux_jdk.sh
  dev-tools/docker/ml_cpp_jdk/Dockerfile
Labels: review, >build, >non-issue, :ml, v8.8.0
