Repository elastic/ml-cpp, pull requests merged in 2023-06, with the labels that each got.

#2499 [ML] Replace access_level READ with READ_ONLY
  catalog-info.yaml
Labels: >build, >non-issue, :ml, v8.9.0

#2501 [ML] Fix pipeline definitions in catalog-info.yaml
  catalog-info.yaml
Labels: >build, >non-issue, :ml, v8.9.0

#2502 [ML] Fix BUILD_SNAPSHOT env vars in catalog-info.yaml
  catalog-info.yaml
Labels: >build, >non-issue, :ml, v8.9.0

#2505 [ML] Fix typo in metatdata.name
  catalog-info.yaml
Labels: >build, >non-issue, :ml, v8.9.0

#2503 [ML] Perform artifact uploads from BuildKite only
  .buildkite/pipelines/upload_dra_to_gcs.yml.sh
  .buildkite/pull-requests.json
  build.gradle
  dev-tools/jenkins_ci.ps1
  dev-tools/jenkins_ci.sh
  dev-tools/jenkins_combine_artifacts.sh
Labels: >build, >non-issue, :ml, v7.17.11, v8.9.0, v8.8.1

#2507 Revert "[ML] Perform artifact uploads from BuildKite only (#2503)"
  .buildkite/pipelines/upload_dra_to_gcs.yml.sh
  .buildkite/pull-requests.json
  build.gradle
  dev-tools/jenkins_ci.ps1
  dev-tools/jenkins_ci.sh
  dev-tools/jenkins_combine_artifacts.sh
Labels: >build, >non-issue, :ml, v8.9.0

#2510 [ML] Update the pipeline slug in the PR webhook
  .buildkite/pull-requests.json
Labels: >build, >non-issue, :ml, v8.9.0

#2512 [8.8][ML] BuildKite fix linux x86_64 dependencies (#2508)
  3rd_party/3rd_party.cmake
Labels: >build, >non-issue, :ml, backport, v8.8.2

#2513 [ML] Add missing contexts for github commit statuses
  .buildkite/pipelines/format_and_validation.yml.sh
  .buildkite/pipelines/run_es_tests.yml.sh
Labels: >build, >non-issue, :ml, v7.17.11, v8.9.0, v8.8.2

#2514 [8.8][ML] Add missing contexts for github commit statuses (#2513)
  .buildkite/pipelines/format_and_validation.yml.sh
  .buildkite/pipelines/run_es_tests.yml.sh
Labels: >build, >non-issue, :ml, backport, v8.8.2

#2515 [7.17][ML] Add missing contexts for github commit statuses (#2513)
  .buildkite/pipelines/format_and_validation.yml.sh
  .buildkite/pipelines/run_es_tests.yml.sh
Labels: >build, >non-issue, :ml, backport, v7.17.11

#2517 [7.17][ML] Better handle test suite failures (#2496)
  .buildkite/scripts/steps/build_and_test.ps1
  .buildkite/scripts/steps/build_and_test.sh
Labels: >build, >non-issue, :ml, backport, v7.17.11

#2516 [8.8][ML] Better handle test suite failures (#2496)
  .buildkite/scripts/steps/build_and_test.ps1
  .buildkite/scripts/steps/build_and_test.sh
Labels: >build, >non-issue, :ml, backport, v8.8.2

#2511 [ML] Upload build artifacts from BuildKite
  .buildkite/pipelines/upload_dra_to_gcs.yml.sh
  build.gradle
  dev-tools/jenkins_ci.ps1
  dev-tools/jenkins_ci.sh
  dev-tools/jenkins_combine_artifacts.sh
Labels: >build, >non-issue, :ml, v7.17.11, v8.9.0, v8.8.2

#2518 [8.8][ML] Upload build artifacts from BuildKite (#2511)
  .buildkite/pipelines/upload_dra_to_gcs.yml.sh
  build.gradle
  dev-tools/jenkins_ci.ps1
  dev-tools/jenkins_ci.sh
  dev-tools/jenkins_combine_artifacts.sh
Labels: >build, >non-issue, :ml, backport, v8.8.2

#2523 [ML] Fix macos cross compilation build for 7.17
  .buildkite/pipelines/build_macos.json.py
Labels: >build, >non-issue, :ml, v7.17.11

#2519 [7.17][ML] Upload build artifacts from BuildKite (#2511)
  .buildkite/pipelines/upload_dra_to_gcs.yml.sh
  build.gradle
  dev-tools/jenkins_ci.ps1
  dev-tools/jenkins_ci.sh
  dev-tools/jenkins_combine_artifacts.sh
Labels: >build, >non-issue, :ml, backport, v7.17.11

#2522 [7.17][ML] Amalgamate DRA pipeline into branch builds (#2520)
  .buildkite/branch.json.py
  .buildkite/pipelines/create_dra.yml.sh
  .buildkite/pipelines/upload_dra_to_gcs.yml.sh
  .buildkite/pipelines/upload_dra_to_s3.yml.sh
Labels: >build, >non-issue, :ml, backport, v7.17.11

#2528 [ML] Increase build timeouts to 4 hours
  .buildkite/pipelines/build_linux.json.py
  .buildkite/pipelines/build_macos.json.py
  .buildkite/pipelines/build_windows.json.py
Labels: >build, >non-issue, :ml, v7.17.11, v8.9.0, v8.8.2

#2530 [7.17][ML] Increase build timeouts to 4 hours (#2528)
  .buildkite/pipelines/build_linux.json.py
  .buildkite/pipelines/build_macos.json.py
  .buildkite/pipelines/build_windows.json.py
Labels: >build, >non-issue, :ml, backport, v7.17.11

#2532 [ML] Add internal flag to flush api determining whether to refresh indices or not.
  include/api/CAnomalyJob.h
  include/api/CJsonOutputWriter.h
  lib/api/CAnomalyJob.cc
  lib/api/CJsonOutputWriter.cc
  lib/api/unittest/CFieldDataCategorizerTest.cc
Labels: >non-issue, :ml, v8.9.0

#2527 [ML] Replace CResourceMonitor::m_AllocationFailures to reduce the memory footprint
  include/model/CResourceMonitor.h
  lib/model/CResourceMonitor.cc
  lib/model/unittest/CResourceMonitorTest.cc
Labels: >non-issue, :ml, v8.9.0

#2526 [ML] How to profile autodetect on MacOS
  dev-tools/autodetect_profiling_macos/autodetect_profiling_on_macos.md
  dev-tools/autodetect_profiling_macos/record_memgraph.sh
  dev-tools/autodetect_profiling_macos/record_xctrace.sh
Labels: >non-issue, :ml, >docs, v8.9.0

#2536 [8.8][ML] DRA upload: Only download artifacts once (#2534)
  .buildkite/pipelines/upload_dra_to_gcs.yml.sh
  .buildkite/pipelines/upload_dra_to_s3.yml.sh
Labels: >build, >non-issue, :ml, backport

#2535 [7.17][ML] DRA upload: Only download artifacts once (#2534)
  .buildkite/pipelines/upload_dra_to_gcs.yml.sh
  .buildkite/pipelines/upload_dra_to_s3.yml.sh
Labels: >build, >non-issue, :ml, backport

#2539 Bytes not Kilobytes
  lib/core/CProcessStats_MacOSX.cc
Labels: >non-issue, v8.9.0

#2537 [ML] Remove the now unneeded DRA pipeline definition
  .buildkite/dra.json.py
  catalog-info.yaml
Labels: >build, >non-issue, :ml, v7.17.11, v8.9.0, v8.8.2

#2538 [NLP] Evaluate batched inference calls singularly
  bin/pytorch_inference/CCommandParser.cc
  bin/pytorch_inference/CCommandParser.h
  bin/pytorch_inference/Main.cc
  docs/CHANGELOG.asciidoc
Labels: >bug, 3rd party models, v8.9.0

#2540 [7.17][ML] Remove the now unneeded DRA pipeline definition (#2537)
  .buildkite/dra.json.py
Labels: >build, >non-issue, :ml, backport, v7.17.11

#2541 [8.8][ML] Remove the now unneeded DRA pipeline definition (#2537)
  .buildkite/dra.json.py
Labels: >build, >non-issue, :ml, backport, v8.8.2

#2542 [NLP] Catch exceptions thrown during inference and report as errors
  bin/pytorch_inference/CCommandParser.h
  bin/pytorch_inference/Main.cc
  bin/pytorch_inference/evaluate.py
  docs/CHANGELOG.asciidoc
  include/core/CCompressedLfuCache.h
  lib/core/unittest/CCompressedLfuCacheTest.cc
Labels: >bug, 3rd party models, v8.9.0

#2543 [ML] Preparing for 8.9 feature freeze
  catalog-info.yaml
  gradle.properties
Labels: >build, >non-issue, :ml, v8.10.0

#2545 [NLP] Add memory benchmark mode to evaluate.py
  bin/pytorch_inference/CCmdLineParser.cc
  bin/pytorch_inference/CCmdLineParser.h
  bin/pytorch_inference/Main.cc
  bin/pytorch_inference/evaluate.py
Labels: >non-issue, v8.10.0

#2550 [ML] Display info for all branches for PR builds
  catalog-info.yaml
Labels: >build, >non-issue, :ml, v8.10.0

#2549 [ML] Add getrusage to list of allowed syscall
  lib/seccomp/CSystemCallFilter_Linux.cc
Labels: >non-issue, :ml, v8.9.0, v8.10.0

#2548 [ML] Removing Jenkins build scripts
  dev-tools/aws_creds_from_vault.sh
  dev-tools/compiledb.sh
  dev-tools/fossa_scan.sh
  dev-tools/github_relabel.pl
  dev-tools/init_compiledb.sh
  dev-tools/jenkins_ci.ps1
  dev-tools/jenkins_ci.sh
  dev-tools/jenkins_combine_artifacts.sh
  dev-tools/jenkins_cross_compile.sh
  dev-tools/run_es_tests.sh
  set_env.sh
Labels: >build, >non-issue, :ml, v8.10.0
