Repository elastic/ml-cpp, pull requests merged in 2024-01, with the labels that each got.

#2606 [ML] Remove IPEX licensing info
  3rd_party/licenses/ipex-INFO.csv
  3rd_party/licenses/ipex-LICENSE.txt
  3rd_party/licenses/ipex-NOTICE.txt
  docs/CHANGELOG.asciidoc
Labels: >build, :ml, v8.12.0, v8.13.0

#2608 [8.12][ML] Disable IPEX
  3rd_party/3rd_party.cmake
  3rd_party/licenses/ipex-INFO.csv
  3rd_party/licenses/ipex-LICENSE.txt
  3rd_party/licenses/ipex-NOTICE.txt
  bin/pytorch_inference/CMakeLists.txt
  cmake/variables.cmake
  docs/CHANGELOG.asciidoc
Labels: >bug, :ml, backport, v8.12.0

#2609 [ML] Fix release notes
  docs/CHANGELOG.asciidoc
Labels: :ml, >docs, v8.13.0

#2607 [ML] Better fallback when hardware_concurrency fails for pytorch inference
  bin/pytorch_inference/Main.cc
  docs/CHANGELOG.asciidoc
  include/core/Concurrency.h
  lib/core/Concurrency.cc
Labels: :ml, 3rd party models, v8.13.0

#2588 [ML] Upgrade to Pytorch 2.1.2 and zlib 1.2.13
  .buildkite/pipelines/build_linux.json.py
  .buildkite/pipelines/build_macos.json.py
  3rd_party/licenses/pytorch-INFO.csv
  3rd_party/licenses/zlib-INFO.csv
  build-setup/linux.md
  build-setup/macos.md
  build-setup/windows.md
  dev-tools/docker/build_linux_aarch64_cross_build_image.sh
  dev-tools/docker/build_linux_aarch64_native_build_image.sh
  dev-tools/docker/build_linux_build_image.sh
  dev-tools/docker/build_macosx_build_image.sh
  dev-tools/docker/linux_aarch64_cross_builder/Dockerfile
  dev-tools/docker/linux_aarch64_cross_image/Dockerfile
  dev-tools/docker/linux_aarch64_native_builder/Dockerfile
  dev-tools/docker/linux_aarch64_native_image/Dockerfile
  dev-tools/docker/linux_aarch64_native_tester/Dockerfile
  dev-tools/docker/linux_builder/Dockerfile
  dev-tools/docker/linux_image/Dockerfile
  dev-tools/docker/linux_tester/Dockerfile
  dev-tools/docker/macosx_builder/Dockerfile
  dev-tools/docker/macosx_image/Dockerfile
  dev-tools/download_macos_deps.sh
  dev-tools/download_windows_deps.ps1
  docs/CHANGELOG.asciidoc
Labels: >enhancement, :ml, v8.13.0

#2613 [ML] Run Java integration tests on both Intel and ARM
  .buildkite/pipeline.json.py
  .buildkite/pipelines/run_es_tests_aarch64.yml.sh
  .buildkite/pipelines/run_es_tests_x86_64.yml.sh
Labels: >build, :ml, v8.13.0

#2611 [ML] Create identical dependency archives for identical contents
  .buildkite/scripts/steps/create_dra.sh
Labels: >build, >non-issue, :ml, v8.13.0

#2612 Revert "Revert "[ML] Upgrade to Pytorch 2.1.2 and zlib 1.2.13 (#2588)""
  .buildkite/pipelines/build_linux.json.py
  .buildkite/pipelines/build_macos.json.py
  3rd_party/licenses/pytorch-INFO.csv
  3rd_party/licenses/zlib-INFO.csv
  build-setup/linux.md
  build-setup/macos.md
  build-setup/windows.md
  dev-tools/docker/build_linux_aarch64_cross_build_image.sh
  dev-tools/docker/build_linux_aarch64_native_build_image.sh
  dev-tools/docker/build_linux_build_image.sh
  dev-tools/docker/build_macosx_build_image.sh
  dev-tools/docker/linux_aarch64_cross_builder/Dockerfile
  dev-tools/docker/linux_aarch64_cross_image/Dockerfile
  dev-tools/docker/linux_aarch64_native_builder/Dockerfile
  dev-tools/docker/linux_aarch64_native_image/Dockerfile
  dev-tools/docker/linux_aarch64_native_tester/Dockerfile
  dev-tools/docker/linux_builder/Dockerfile
  dev-tools/docker/linux_image/Dockerfile
  dev-tools/docker/linux_tester/Dockerfile
  dev-tools/docker/macosx_builder/Dockerfile
  dev-tools/docker/macosx_image/Dockerfile
  dev-tools/download_macos_deps.sh
  dev-tools/download_windows_deps.ps1
  docs/CHANGELOG.asciidoc
Labels: >non-issue, :ml, v8.13.0

#2615 Update QA tests pipeline slug
  .buildkite/pipelines/run_qa_tests.yml.sh
Labels: :ml, >test, v8.13.0

#2618 [ML] Fix incorrect auto type
  lib/maths/time_series/CTimeSeriesTestForChange.cc
Labels: :ml, >test, v8.13.0
