Repository elastic/ml-cpp, pull requests merged in 2024-07, with the labels that each got.

#2683 [ML] Add `codesign` CMake target
  .entitlements.xml
  bin/autodetect/CMakeLists.txt
  bin/pytorch_inference/CMakeLists.txt
  cmake/functions.cmake
Labels: >non-issue, :ml, v8.15.0

#2684 [ML] Log 'No statistics at.. ' as a warning
  docs/CHANGELOG.asciidoc
  lib/model/CIndividualModel.cc
Labels: v8.15.0

#2688 [ML] Upgrade to PyTorch 2.3.1
  .buildkite/pipelines/build_linux.json.py
  .buildkite/pipelines/build_macos.json.py
  .buildkite/scripts/steps/build_and_test.sh
  .ci/orka/README.md
  .ci/orka/orka-macos-12-x86_64.pkr.hcl
  3rd_party/licenses/pytorch-INFO.csv
  build-setup/linux.md
  build-setup/macos.md
  build-setup/windows.md
  dev-tools/docker/build_linux_aarch64_cross_build_image.sh
  dev-tools/docker/build_linux_aarch64_native_build_image.sh
  dev-tools/docker/build_linux_build_image.sh
  dev-tools/docker/build_macosx_build_image.sh
  dev-tools/docker/linux_aarch64_cross_builder/Dockerfile
  dev-tools/docker/linux_aarch64_cross_image/Dockerfile
  dev-tools/docker/linux_aarch64_native_builder/Dockerfile
  dev-tools/docker/linux_aarch64_native_image/Dockerfile
  dev-tools/docker/linux_aarch64_native_tester/Dockerfile
  dev-tools/docker/linux_builder/Dockerfile
  dev-tools/docker/linux_image/Dockerfile
  dev-tools/docker/linux_tester/Dockerfile
  dev-tools/docker/macosx_builder/Dockerfile
  dev-tools/docker/macosx_image/Dockerfile
  dev-tools/download_macos_deps.sh
  dev-tools/download_windows_deps.ps1
  docs/CHANGELOG.asciidoc
Labels: >build, :ml, dependencies, ci:run-qa-tests, v8.16.0

#2694 [ML] Pass the required build architecture args to the pipeline steps
  .buildkite/branch.json.py
Labels: >build, >non-issue, :ml, v8.16.0

#2693 [ML] Fix typo in YAML file
  .buildkite/job-build-pytorch.json.py
  .buildkite/pipelines/build_pytorch_docker_image.yml.sh
Labels: >build, >non-issue, :ml, v8.16.0

#2697 [ML] Fix the regex used to trigger PR builds with flexible configuration
  .buildkite/pull-requests.json
Labels: >build, >non-issue, :ml

#2698 [ML] Fix Buildkite step dependencies
  .buildkite/pipelines/create_dra.yml.sh
  dev-tools/docker/docker_entrypoint.sh
Labels: >build, >non-issue, :ml

#2699 [ML] Productionize the PyTorch Docker build
  .buildkite/hooks/post-checkout
  .buildkite/pipeline.json.py
  .buildkite/pipelines/build_pytorch_docker_image.yml.sh
  .buildkite/pipelines/run_pytorch_tests.yml.sh
  dev-tools/docker/build_pytorch_linux_build_image.sh
Labels: >build, >non-issue, :ml, v8.16.0

#2700 [ML] Refactor add annotation
  include/model/CAnomalyDetectorModel.h
  include/model/CCountingModel.h
  include/model/CEventRateModel.h
  include/model/CEventRatePopulationModel.h
  include/model/CMetricModel.h
  include/model/CMetricPopulationModel.h
  lib/model/CCountingModel.cc
  lib/model/CEventRateModel.cc
  lib/model/CEventRatePopulationModel.cc
  lib/model/CMetricModel.cc
  lib/model/CMetricPopulationModel.cc
  lib/model/unittest/Mocks.cc
  lib/model/unittest/Mocks.h
Labels: >non-issue, :ml, v8.16.0

#2695 [ML] Force time shift with detection rule
  docs/CHANGELOG.asciidoc
  include/api/CDetectionRulesJsonParser.h
  include/maths/common/CModel.h
  include/maths/time_series/CTimeSeriesDecomposition.h
  include/maths/time_series/CTimeSeriesDecompositionDetail.h
  include/maths/time_series/CTimeSeriesModel.h
  include/model/CAnomalyDetectorModel.h
  include/model/CCountingModel.h
  include/model/CDetectionRule.h
  include/model/CEventRatePopulationModel.h
  include/model/CIndividualModel.h
  include/model/CInterimBucketCorrector.h
  include/model/CMetricPopulationModel.h
  include/model/CRuleCondition.h
  lib/api/CDetectionRulesJsonParser.cc
  lib/api/unittest/CDetectionRulesJsonParserTest.cc
  lib/maths/common/CModel.cc
  lib/maths/time_series/CTimeSeriesDecomposition.cc
  lib/maths/time_series/CTimeSeriesDecompositionDetail.cc
  lib/maths/time_series/CTimeSeriesModel.cc
  lib/model/CAnomalyDetectorModel.cc
  lib/model/CCountingModel.cc
  lib/model/CDetectionRule.cc
  lib/model/CEventRatePopulationModel.cc
  lib/model/CIndividualModel.cc
  lib/model/CInterimBucketCorrector.cc
  lib/model/CMetricPopulationModel.cc
  lib/model/CRuleCondition.cc
  lib/model/unittest/CDetectionRuleTest.cc
  lib/model/unittest/Mocks.cc
  lib/model/unittest/Mocks.h
Labels: >enhancement, :ml, v8.16.0
