Repository elastic/ml-cpp, pull requests merged in 2024-09, with the labels that each got.

#2712 [ML] Remove 8.14 branch from build schedule
  catalog-info.yaml
Labels: >build, >non-issue, :ml

#2716 Correct version PyTorch upgraded in changelog
  docs/CHANGELOG.asciidoc
Labels: >docs

#2719 Fix typo in build-setup/macos.md
  build-setup/macos.md
Labels: >docs, v8.16.0

#2720 Change result writing to allow for a single value
  bin/pytorch_inference/CResultWriter.cc
  bin/pytorch_inference/CResultWriter.h
  bin/pytorch_inference/Main.cc
  bin/pytorch_inference/unittest/CResultWriterTest.cc
  docs/CHANGELOG.asciidoc
Labels: >bug, v8.16.0, v8.15.2, v9.0.0

#2726 Remove debug line that was printing out huge tensors causing timeouts in QA
  bin/pytorch_inference/Main.cc
Labels: >non-issue, ci:run-qa-tests, v8.16.0, v8.15.2, v9.0.0

#2724 [backport 8.15.2] Change result writing to allow for a single value
  bin/pytorch_inference/CResultWriter.cc
  bin/pytorch_inference/CResultWriter.h
  bin/pytorch_inference/Main.cc
  bin/pytorch_inference/unittest/CResultWriterTest.cc
  docs/CHANGELOG.asciidoc
Labels: >bug, backport, ci:run-qa-tests, v8.15.2

#2723 [backport 8.16] Zero dimensional tensor
  bin/pytorch_inference/CResultWriter.cc
  bin/pytorch_inference/CResultWriter.h
  bin/pytorch_inference/Main.cc
  bin/pytorch_inference/unittest/CResultWriterTest.cc
  docs/CHANGELOG.asciidoc
Labels: >bug, backport, ci:run-qa-tests, v8.16.0

#2727 [ML] Use java 21 for ES tests.
  .buildkite/pipelines/run_es_tests_aarch64.yml.sh
  .buildkite/pipelines/run_es_tests_x86_64.yml.sh
Labels: >build, >non-issue, :ml, v9.0.0

#2718 [ML] Increase timeout for macOS debug builds
  .buildkite/pipelines/build_macos.json.py
Labels: >build, >non-issue, v9.0.0

#2725 [ML] Correct home for macOS x86_64 test results
  .buildkite/hooks/post-checkout
Labels: >build, >non-issue, :ml, v9.0.0

#2728 [ML] Fix failing testFileIoIsGood test on mac x86
  lib/api/unittest/CIoManagerTest.cc
Labels: >non-issue, :ml, >test-failure, v8.16.0, v9.0.0, 8.15.3

#2732 [8.16][ML] Fix failing testFileIoIsGood test on mac x86 (#2728)
  lib/api/unittest/CIoManagerTest.cc
Labels: >non-issue, :ml, >test, backport, v8.16.0

#2733 [8.15][ML] Fix failing testFileIoIsGood test on mac x86 (#2728)
  lib/api/unittest/CIoManagerTest.cc
Labels: >non-issue, :ml, >test, backport, v8.15.2

#2734 [7.17][ML] Fix failing testFileIoIsGood test on mac x86 (#2728)
  lib/api/unittest/CIoManagerTest.cc
Labels: >non-issue, :ml, >test, backport, v7.17.25

#2735 [8.16][ML] Correct home for macOS x86_64 test results (#2725)
  .buildkite/hooks/post-checkout
Labels: >build, >non-issue, :ml, v8.16.0

#2736 [8.15][ML] Correct home for macOS x86_64 test results (#2725)
  .buildkite/hooks/post-checkout
Labels: >non-issue, :ml, backport, v8.15.2

#2731 [ML] Install Java 21 on AWS EC2 using yum
  .buildkite/pipelines/run_es_tests_aarch64.yml.sh
  .buildkite/pipelines/run_es_tests_x86_64.yml.sh
Labels: >build, >non-issue, :ml, v9.0.0

#2737 [ML] Change time shift sign for intuitive configuration
  lib/model/CDetectionRule.cc
  lib/model/unittest/CDetectionRuleTest.cc
Labels: >non-issue, :ml, v8.16.0, v9.0.0

#2743 [ML] Change time shift sign for intuitive configuration (#2737)
  lib/model/CDetectionRule.cc
  lib/model/unittest/CDetectionRuleTest.cc
Labels: >non-issue, :ml, backport, v8.16.0

#2717 [ML] Trigger a "staging" build on merge to branch
  catalog-info.yaml
Labels: >build, >non-issue, v8.16.0, v9.0.0

#2729 [ML] Fudge for CKMostCorrelatedTest/testScale
  lib/maths/common/unittest/CKMostCorrelatedTest.cc
Labels: >non-issue, :ml, v8.16.0, v9.0.0

#2713 [ML] Add CMake config to integrate gperftools
  CMakeLists.txt
  bin/autodetect/CMakeLists.txt
  bin/pytorch_inference/CMakeLists.txt
Labels: >build, >non-issue, :ml, v8.16.0, v9.0.0

#2738 [ML] Fix a few address sanitizer issues
  cmake/variables.cmake
  lib/api/unittest/CJsonOutputWriterTest.cc
  lib/maths/analytics/unittest/CBoostedTreeTest.cc
  lib/maths/time_series/CTrendComponent.cc
  lib/maths/time_series/unittest/CCalendarCyclicTestTest.cc
Labels: >non-issue, :ml, >test, v8.16.0, v9.0.0, v7.17.25, v8.15.3

#2747 [7.17][ML] Fix a few address sanitizer issues (#2738)
  lib/api/unittest/CJsonOutputWriterTest.cc
  lib/maths/analytics/unittest/CBoostedTreeTest.cc
  lib/maths/time_series/CTrendComponent.cc
Labels: >non-issue, :ml, >test, backport, v7.17.25

#2746 [8.15][ML] Fix a few address sanitizer issues (#2738)
  cmake/variables.cmake
  lib/api/unittest/CJsonOutputWriterTest.cc
  lib/maths/analytics/unittest/CBoostedTreeTest.cc
  lib/maths/time_series/CTrendComponent.cc
  lib/maths/time_series/unittest/CCalendarCyclicTestTest.cc
Labels: >non-issue, :ml, >test, backport, v8.15.3

#2749 [7.17][ML] Fudge for CKMostCorrelatedTest/testScale (#2729)
  lib/maths/common/unittest/CKMostCorrelatedTest.cc
Labels: >non-issue, :ml, >test, backport, v7.17.25

#2744 [8.16][ML] Fudge for CKMostCorrelatedTest/testScale (#2729)
  lib/maths/common/unittest/CKMostCorrelatedTest.cc
Labels: >non-issue, :ml, >test, backport, v8.16.0

#2748 [8.15][ML] Fudge for CKMostCorrelatedTest/testScale (#2729)
  lib/maths/common/unittest/CKMostCorrelatedTest.cc
Labels: >non-issue, :ml, >test, backport, v8.15.3

#2750 [8.16][ML] Add CMake config to integrate gperftools (#2713)
  CMakeLists.txt
  bin/autodetect/CMakeLists.txt
  bin/pytorch_inference/CMakeLists.txt
Labels: >build, >non-issue, :ml, backport, v8.16.0

#2751 [8.15][ML] Add CMake config to integrate gperftools (#2713)
  CMakeLists.txt
  bin/autodetect/CMakeLists.txt
  bin/pytorch_inference/CMakeLists.txt
Labels: >build, >non-issue, :ml, backport, v8.15.3

#2752 [8.16][ML] Trigger a "staging" build on merge to branch (#2717)
  catalog-info.yaml
Labels: >build, >non-issue, :ml, backport, v8.16.0

#2753 [8.15][ML] Trigger a "staging" build on merge to branch (#2717)
  catalog-info.yaml
Labels: >build, >non-issue, :ml, backport, v8.15.3

#2745 [8.16][ML] Fix a few address sanitizer issues (#2738)
  cmake/variables.cmake
  lib/api/unittest/CJsonOutputWriterTest.cc
  lib/maths/analytics/unittest/CBoostedTreeTest.cc
  lib/maths/time_series/CTrendComponent.cc
  lib/maths/time_series/unittest/CCalendarCyclicTestTest.cc
Labels: >non-issue, :ml, >test, backport, v8.16.0

#2739 [ML] Persist callback detection rules in the detector model state
  include/core/CFlatPrefixTree.h
  include/core/CPatternSet.h
  include/model/CAnomalyDetectorModel.h
  include/model/CDetectionRule.h
  include/model/CPopulationModel.h
  include/model/CRuleCondition.h
  include/model/CRuleScope.h
  lib/core/CFlatPrefixTree.cc
  lib/core/CPatternSet.cc
  lib/model/CAnomalyDetectorModel.cc
  lib/model/CCountingModel.cc
  lib/model/CDetectionRule.cc
  lib/model/CIndividualModel.cc
  lib/model/CPopulationModel.cc
  lib/model/CRuleCondition.cc
  lib/model/CRuleScope.cc
  lib/model/unittest/CCountingModelTest.cc
  lib/model/unittest/CDetectionRuleTest.cc
Labels: >non-issue, :ml, v8.16.0, v9.0.0

#2754 [ML] Persist callback detection rules in the detector model state
  include/core/CFlatPrefixTree.h
  include/core/CPatternSet.h
  include/model/CAnomalyDetectorModel.h
  include/model/CDetectionRule.h
  include/model/CPopulationModel.h
  include/model/CRuleCondition.h
  include/model/CRuleScope.h
  lib/core/CFlatPrefixTree.cc
  lib/core/CPatternSet.cc
  lib/model/CAnomalyDetectorModel.cc
  lib/model/CCountingModel.cc
  lib/model/CDetectionRule.cc
  lib/model/CIndividualModel.cc
  lib/model/CPopulationModel.cc
  lib/model/CRuleCondition.cc
  lib/model/CRuleScope.cc
  lib/model/unittest/CCountingModelTest.cc
  lib/model/unittest/CDetectionRuleTest.cc
Labels: >non-issue, :ml, backport, v8.16.0

#2742 [ML] QA tests on specific branch and version
  .buildkite/ml_pipeline/config.py
  .buildkite/pipelines/run_qa_tests.yml.sh
  .buildkite/pull-requests.json
Labels: >build, >non-issue, :ml, >test, v9.0.0

#2755 [ML] Correct filter regex for Staging builds
  catalog-info.yaml
Labels: >build, >non-issue, :ml, v9.0.0

#2758 [8.16][ML] QA tests on specific branch and version (#2742)
  .buildkite/ml_pipeline/config.py
  .buildkite/pipelines/run_qa_tests.yml.sh
  .buildkite/pull-requests.json
Labels: >non-issue, :ml, >test, backport, v8.16.0

#2757 [8.15][ML] QA tests on specific branch and version (#2742)
  .buildkite/ml_pipeline/config.py
  .buildkite/pipelines/run_qa_tests.yml.sh
  .buildkite/pull-requests.json
Labels: >non-issue, :ml, >test, backport, v8.15.3
